<div."center>
.center{
        width: 100%;
        height: 100%;
        display: flex;
        flex-row= row nowrap;
        align-items: center;
        justify-content: center;
}
html,brig{
  margin:0;
  pedding:0;
}
.smg{
  font-size:64px;
        height:100%;
}
